*{
    margin: 0%;
    padding: 0%;
}

.s1{
    display: flex;
}
.s1 .d1{
    width: 30%;
    margin-left: 300px;
    margin-top: 100px;
}
.s1 .d2{
    background-image: url(./img/Group\ 8447.png);
    margin-top: 50px;
    background-repeat: no-repeat;
}
.s1 .d2 img{
    margin-bottom: -4px;
}
.d1 h1{
    font-size: 53px;
    line-height: 60px;
}
.d1 h1 span{
    color: rgb(4, 255, 50);
}
.d1 p{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 50px;
}
.d1 a{
    background-image: linear-gradient(red ,tomato);
    padding: 7px 17px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: beige;
    border-radius: 20px;
}

.div{
    background-image: url(./img/7.png);
    margin-top: 70px;
}

.s2{
    display: flex;
}
.s2 .d4{
    width: 550px;
    margin-left: 180px;
    margin-top: 90px;
}
.d4 h1{
    text-transform: capitalize;
    font-size: 40px;
}
.d4 h1 span{
    color: red;
}
.d4 p{
    margin-top: 20px;
    margin-bottom: 70px;
}
.d4 a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 800;
    padding: 8px 19px;
    background-image: linear-gradient(tomato,red,blue, rgb(157, 255, 0));
    border-radius: 20px;
    color: white;
}