*{
    margin: 0%;
    padding: 0%;
}

.s1{
    display: flex;
}
.s1 .d1{
    width: 30%;
    margin-left: 300px;
    margin-top: 100px;
}
.s1 .d2{
    background-image: url(./img/Group\ 8447.png);
    margin-top: 50px;
    background-repeat: no-repeat;
}
.s1 .d2 img{
    margin-bottom: -4px;
}
.d1 h1{
    font-size: 53px;
    line-height: 60px;
}
.d1 h1 span{
    color: rgb(4, 255, 50);
}
.d1 p{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 50px;
}
.d1 a{
    background-image: linear-gradient(red ,tomato);
    padding: 7px 17px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: beige;
    border-radius: 20px;
}

.div{
    background-image: url(./img/7.png);
    margin-top: 70px;
}

.s2{
    display: flex;
}
.s2 .d4{
    width: 550px;
    margin-left: 180px;
    margin-top: 90px;
}
.d4 h1{
    text-transform: capitalize;
    font-size: 40px;
}
.d4 h1 span{
    color: red;
}
.d4 p{
    margin-top: 20px;
    margin-bottom: 70px;
}
.d4 a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 800;
    padding: 8px 19px;
    background-image: linear-gradient(tomato,red,blue, rgb(157, 255, 0));
    border-radius: 20px;
    color: white;
}
.dv{
    width: 43%;
    margin: auto;
}
.dv h1{
    text-transform: capitalize;
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
    margin-bottom:30px ;
}

.s3{
    display: flex;
    width: 90%;
    margin: auto;
}
.d7{
    width: 600px;
    margin-left: 50px;
    margin-top: 100px;
    background-color: rgb(224, 219, 212);
    justify-content: center;text-align: center;
}
.d8{
    width: 600px;
    margin-left: 50px;
    margin-top: 100px;
    background-color: rgb(224, 219, 212);
    justify-content: center;text-align: center;
}

.d7 h1{
    text-align: left;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.d8 h1{
    text-align: left;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    
}
.d7 p{
    padding-bottom: 30px;
}
.s4{
    display: flex;
    width: 85%;
    margin: auto;
    margin-top: 100px;
    background-color: rgb(214, 217, 219);
}
.s4 .t1{
    width: 600px;
    margin-left: 120px;
}
.s4 .t1 h1{
    font-size: 35px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.s4 .t1 p{
    margin-bottom: 10px;
}
footer{
    background-color: black;
    width: 100%;
    height: 110px;
    margin-top: 80px;
}

footer h1{
    color: aliceblue;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
}
footer p{
    color: rgb(42, 172, 172);
    text-align: center;
    margin-top: 20px;
}